# Namespace file for sprint 

useDynLib(sprint)

export(ptest)
export(pcor)
export(pmaxT)
export(pterminate)
export(ppam)

## PPAM generics
S3method(print, pam)
S3method(print, summary.pam)
S3method(summary, pam)
